body{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 20px;
  background: #f0f8ff; 
}

h1{
  color: #333;
}


/* ul */
#groceryList li{
  border: 2px solid brown;
  margin: 8px 0;
  padding: 10px;
  background: #e6f7ff;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Strike through */
.bought {
  text-decoration: line-through;
  color: gray;
}

button {
  padding: 8px 12px;
  margin-top: 10px;
  cursor: pointer;
}